.cursor{
    height:40px;
    width: 40px;
    position: absolute;
    z-index: 300;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    overflow: visible;
    pointer-events: none;
}
*{
    cursor: none !important;
}
